<% provide :title, @user.name %>

<div class="row">
  <aside class="col text-center">
    <section class="user_info">
      <h2>
        <div class="avatar">
          <%= image_tag @user.display_image if @user.image.attached? %>
        </div>
        <%= @user.name %>
      </h2>
    </section>
  </aside>
</div>
