<% if error_messages.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <%= t ".the_form_contains" %> <%= pluralize error_messages.count, t(".error") %>.
    </div>
    <ul>
    <% error_messages.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
