<div class="col-md-4">
  <div class="card">
    <div class="card-block">
      <div class="image">
        <img src="https://loremflickr.com/320/240/paris"/>
      </div>
      <div class="card-inner">
        <div class="header">
          <h3><%= t ".name_book" %>: <%= link_to book.name, book %></h3>
          <h4><%= t ".author" %>: <%= book.author_name %></h4>
        </div>
      </div>
    </div>
  </div>
</div>
