@import "color.scss";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

@mixin box_sizing {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #333;
}

header {
  background: #111;
}

.headline {
  position: relative;
  height: 6rem;
  color: #fff;
  text-align: center;
  background: url('https://www.openathens.net/app/uploads/2021/08/alfons-morales-YLSwjSy7stw-unsplash.jpg') no-repeat center center;
  background-size: cover;
  margin-bottom: 20px;

  &:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#111, 0.5);
  }
}

.inner {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  z-index: 10;
  transform: translateX(-50%) translateY(-50%);
  animation: fade-in 0.75s 0.25s ease-in forwards;

  h1 {
    margin: 0;
    font-size: 4em;
    line-height: 1.2em;
  }

  p {
    margin: 0;
    font-size: 1.4em;
    font-style: italic;
    font-family: serif;
  }
}

.user-nav{
  position: relative;
  width: 100%;
  z-index: 10;

  &.scrolled {
    background-color: rgba(#111, 0.9);
  }

  ul {
    float: right;
    list-style: none;
    padding: 25px;
    margin: 0;
  }

  li {
    float: left;
    padding-bottom: 5px;
    padding-right: 5px;
  }

  .dropdown-menu{
    background-color: #BCAC9B;
    font-size: 0.9em;
    padding: 5px;
  }

  a {
    font-size: 1.2em;
    color: #fff;
    text-decoration: none;
    margin: 5px 0 0 20px;
    display: block;
    &:hover {
      color: darken(#fff, 7%);
    }
  }
}

.logo {
  height: 75px;
  float: left;

  &:before, &:after {
    position: absolute;
    font-size: 7em;
    font-weight: 300;
    line-height: 0;
    color: #fff;
    top: 25px;
  }

  img {
    height: 170px;
    margin-top: -50px;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

section {
  width: 100%;
  margin: 25px auto;
  padding: 20px;
  max-width: 800px;
  font-size: 1.2em;
  line-height: 1.6em;
  box-sizing: border-box;
}

#title_header {
  color: $white;
}

/* footer */
footer {
  width: 100%;
  bottom: 0;
  position: fixed;
  left: 0;
  height: 50px;
}

/* forms */
input, textarea, select, .uneditable-input {
  margin-right: 30%;
  border: 1px solid #bbb;
  width: 30%;
  margin-top: 20px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}
.row{
  position: relative;
  display: flex;
  justify-content: center;
}

.form{
  margin-top: 20px;
}
#error_explanation {
  color: red;

  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  .form-control {
    color: $state-danger-text;
  }
}

.create_account_button{
  margin-bottom: 5px;
}

.avatar img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.mb-3{
  margin-top: 30px;

  .text-info{
    display: block;
    font-size: 20px;
    margin-bottom: 15px;
  }
}

.btn-primary{
  margin-left: 35%;
  margin-right: 35%;
}

/* index  category */
.index{
  width: 22%;
  padding: 10px;
  margin-left: 90px !important;
  margin-top: 30px;
}

/* Search Form */
.has-search{
  width: 50%;
  margin-left: 25%;
  margin-top: 20px;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

/* pagination */
.pagination a, .pagination span.current, .pagination span.gap {
  float: left;
  padding: 0 14px;
  line-height: 38px;
  text-decoration: none;
  background-color: white;
  border: 1px solid #DDD;
  border-left-width: 0;
}

.pagination {
  border-left: 1px solid #ddd;
  margin-top: 20px;

  .first{
    padding : 0;
    float: none;
    border: none;
  }

  .prev {
    padding : 0;
    float: none;
    border: none;
  }

  .page{
    padding : 0;
    float: none;
    border: none;
  }

  .next{
    padding : 0;
    float: none;
    border: none;
  }

  .last{
    padding : 0;
    float: none;
    border: none;
  }
}

/* Card List Book */
.card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  margin-top:10px;
  margin-bottom:10px;
  background-color:#FFF;

  &:hover {
    box-shadow: 0 5px 5px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

  .card-inner {
    padding: 10px;
  }

  header h3, h4 {
    margin-left: 5px;
  }

  .header {
    margin-bottom: 5px;
  }

  img {
    width: 100%;
  }
}

.show_book {
  display: flex;
}

 /* Follow Users */
.show-fll{
  margin-top: -80%;
}

.shared{
  position: relative;
  width: 100%;
  margin-left: 35%;
  margin-top: -20px;
  margin-bottom: 20px;
 }

.stats {
  margin-top: -20px;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid #e8e8e8;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }

    &:hover {
      text-decoration: none;
      color: blue;
    }
  }

  strong {
    display: block;
    text-align: center;
  }
}

.following{
  margin-left: 5%;
}

#follow_form{
  margin-top: 20px;
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }

  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid red;
  }
}

.requests{
  list-style-type: none;
}

.success-notification {
  font-size: 20px;
  color: #5C5C5C;
}

/* sidebar admin */
/*main side bar*/
.navbar-default {
  background-color: #FFF;
  margin-left: 200px;
}

.msb {
  width: 200px;
  background-color: #F5F7F9;
  position: fixed;
  left: 0;
  top: 0;
  right: auto;
  min-height: 100%;
  overflow-y: auto;
  white-space: nowrap;
  height: 100%;
  z-index: 1;
  border-right: 1px solid #ddd;

  .navbar {
    border: none;
    margin-left: 0;
    background-color: inherit;
    padding: 0%;
  }

  .navbar-header {
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 20px;
    background: #fff;
    text-align: center;
  }

  .side-menu-container{
    width: 100%;
  }

  .navbar-nav {
    .panel {
      border: 0 none;
      box-shadow: none;
      margin: 0;
      background: inherit;
    }

    li {
      display: block;
      width: 100%;

      a {
        padding: 15px;
        color: #5f5f5f;
        .glyphicon, .fa {
          margin-right: 8px;
        }
      }

      a:hover {
        background-color: #7FFFD4;
      }
    }
  }
}
ul.nv,
ul.ns {
  position: relative;
  padding: 0;
  list-style: none;
}

.nv {
  li {
    display: block;
    position: relative;

    &::before {
      clear: both;
      content: "";
      display: table;
    }
    a {
      color: #444;
      padding: 10px 25px;
      display: block;

      .ic {
        font-size: 16px;
        margin-right: 5px;
        font-weight: 300;
        display: inline-block;
      }
    }
  }
  /*ns: nav-sub*/
  .ns {
    li {
      a {
        padding: 10px 50px;
      }
    }

  }
}

/*admin - list book*/
h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
  small {
    font-size: 0.5em;
  }
}

.responsive-table {
  li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  .table-header {
    background-color: #95A5A6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }

  .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  }

  .col-1 {
    flex-basis: 25%;
  }

  .col-2 {
    flex-basis: 25%;
  }

  .col-3 {
    flex-basis: 25%;
  }

  .col-4 {
    flex-basis: 25%;
  }

  @media all and (max-width: 767px) {
    .table-header {
      display: none;
    }

    li {
      display: block;
    }
    .col {

      flex-basis: 100%;

    }
    .col {
      display: flex;
      padding: 10px 0;
      &:before {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
      }
    }
  }
}
p {
  text-indent: 30px;
  font-size: 16px;
}

h4 {
  text-indent: 40px;
}
