@import "bootstrap-sprockets";
@import "bootstrap";
@import "color.scss";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #333;
}

header {
  background: #111;
}

.headline {
  position: relative;
  height: 400px;
  color: #fff;
  text-align: center;
  background: url('https://farm9.staticflickr.com/8088/8363737128_b76782c7a2_b.jpg') no-repeat center center;
  background-size: cover;
  margin-bottom: 20px;

  &:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#111, 0.5);
  }
}

.inner {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  z-index: 10;
  transform: translateX(-50%) translateY(-50%);
  animation: fade-in 0.75s 0.25s ease-in forwards;

  h1 {
    margin: 0;
    font-size: 4em;
    line-height: 1.2em;
  }

  p {
    margin: 0;
    font-size: 1.4em;
    font-style: italic;
    font-family: serif;
  }
}

nav {
  position: relative;
  width: 100%;
  z-index: 10;

  &.scrolled {
    background-color: rgba(#111, 0.9);
  }

  ul {
    float: right;
    list-style: none;
    padding: 25px;
    margin: 0;
  }

  li {
    float: left;
  }

  a {
    font-size: 1.2em;
    color: #fff;
    text-decoration: none;
    margin: 5px 0 0 20px;
    display: block;
    &:hover {
      color: darken(#fff, 7%);
    }
  }
}

.logo {
  height: 75px;
  float: left;

  &:before, &:after {
    position: absolute;
    font-size: 7em;
    font-weight: 300;
    line-height: 0;
    color: #fff;
    top: 25px;
  }

  &:before {
    content: '\00BB';
    left: 20px;
  }

  &:after {
    content: '\00AB';
    left: 34px;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

section {
  width: 100%;
  margin: 25px auto;
  padding: 20px;
  max-width: 800px;
  font-size: 1.2em;
  line-height: 1.6em;
  box-sizing: border-box;
}

#title_header {
  color: $white;
}

/* footer */

.footer-bottom {
    padding: 15px 0;
    border-top: 1px solid #313646;
    background: #111 !important;
    color: #b0b0b0;
    font-family: rubik;
    font-size: 1.2em;
    width: 100%;
}

footer {
  @mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* miscellaneous */
  .debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
  }
}

/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;

  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;

  .form-control {
    color: $state-danger-text;
  }
}

.create_account_button{
  margin-bottom: 5px;
}

.avatar img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
