@import "color.scss";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

@mixin box_sizing {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #333;
}

header {
  background: #111;
}

.headline {
  position: relative;
  height: 6rem;
  color: #fff;
  text-align: center;
  background: url('https://farm9.staticflickr.com/8088/8363737128_b76782c7a2_b.jpg') no-repeat center center;
  background-size: cover;
  margin-bottom: 20px;

  &:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#111, 0.5);
  }
}

.inner {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  z-index: 10;
  transform: translateX(-50%) translateY(-50%);
  animation: fade-in 0.75s 0.25s ease-in forwards;

  h1 {
    margin: 0;
    font-size: 4em;
    line-height: 1.2em;
  }

  p {
    margin: 0;
    font-size: 1.4em;
    font-style: italic;
    font-family: serif;
  }
}

nav {
  position: relative;
  width: 100%;
  z-index: 10;

  &.scrolled {
    background-color: rgba(#111, 0.9);
  }

  ul {
    float: right;
    list-style: none;
    padding: 25px;
    margin: 0;
  }

  li {
    float: left;
  }

  .dropdown-menu{
    background-color: DodgerBlue;
    font-size: 0.9em;
  }

  a {
    font-size: 1.2em;
    color: #fff;
    text-decoration: none;
    margin: 5px 0 0 20px;
    display: block;
    &:hover {
      color: darken(#fff, 7%);
    }
  }
}

.logo {
  height: 75px;
  float: left;

  &:before, &:after {
    position: absolute;
    font-size: 7em;
    font-weight: 300;
    line-height: 0;
    color: #fff;
    top: 25px;
  }

  &:before {
    content: '\00BB';
    left: 20px;
  }

  &:after {
    content: '\00AB';
    left: 34px;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

section {
  width: 100%;
  margin: 25px auto;
  padding: 20px;
  max-width: 800px;
  font-size: 1.2em;
  line-height: 1.6em;
  box-sizing: border-box;
}

#title_header {
  color: $white;
}

/* footer */

.footer-bottom {
    padding: 15px 0;
    border-top: 1px solid #313646;
    background: #111 !important;
    color: #b0b0b0;
    font-family: rubik;
    font-size: 1.2em;
    width: 100%;
}


footer {
  @mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* miscellaneous */
  .debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
  }
}

/* forms */
input, textarea, select, .uneditable-input {
  margin-right: 30%;
  border: 1px solid #bbb;
  width: 30%;
  margin-top: 20px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}
.row{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form{
  margin-top: 20px;
}
#error_explanation {
  color: red;

  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  .form-control {
    color: $state-danger-text;
  }
}

.create_account_button{
  margin-bottom: 5px;
}

.avatar img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.mb-3{
  margin-top: 30px;

  .text-info{
    display: block;
    font-size: 20px;
    margin-bottom: 15px;
  }
}

.btn-primary{
  margin-left: 35%;
  margin-right: 35%;
}

/* index  category */
.index{
  width: 22%;
  padding: 10px;
  margin-left: 90px !important;
  margin-top: 30px;
}

/* Search Form */
.has-search{
  width: 50%;
  margin-left: 25%;
  margin-top: 20px;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

/* pagination */
.pagination a, .pagination span.current, .pagination span.gap {
  float: left;
  padding: 0 14px;
  line-height: 38px;
  text-decoration: none;
  background-color: white;
  border: 1px solid #DDD;
  border-left-width: 0;
}

.pagination {
  border-left: 1px solid #ddd;
  margin-top: 20px;

  .first{
    padding : 0;
    float: none;
    border: none;
  }

  .prev {
    padding : 0;
    float: none;
    border: none;
  }

  .page{
    padding : 0;
    float: none;
    border: none;
  }

  .next{
    padding : 0;
    float: none;
    border: none;
  }

  .last{
    padding : 0;
    float: none;
    border: none;
  }
}
